* {
  font-family: Arial;
}

/* =============================HEADER========================================= */
.background {
  background: url("./Images/Adif.jpg") center;
  background-size: cover;
  opacity: 0.9;
  height: 500px;

  display: grid;
  align-items: center;
}

.sign {
  font-weight: 900;
  padding: 0 10px;
  color: #00A7E1;
  font-size: 35px;
 
}

.title{
  font-weight: 900;
  font-size: 25px;
  color: #00080D;
  text-align: center;
}
