@import '../../../../globals/variables';

.profile__header {
  display: flex;
  position: fixed;
  width: 100%;
  right: 0;
  color: lighten($base-blue, 5%);
  z-index: 1;
  transition: $transition-speed * 2;
  justify-content: flex-end;
  opacity: 0.9;

  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    &__link {
      cursor: pointer;
      font-size: 1rem;
      margin: 25px 20px 10px;
      text-align: center;
      display: block;
      font-weight: 700;
      transition: $transition-speed;
    }
  }

  @media screen and (min-width: $tablet+1) {
    padding-left: 5rem;
    &__nav__link:hover {
      transform: translateY(3px);
    }
  }

  @media screen and (max-width: $tablet) {
    justify-content: center;
  }

  @media screen and (max-width: $mobile) {
    display: none;
  }
}
