.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: #fefff9;
    border-radius: 0.4rem;
    margin: 0 1vw;
    padding: 5vh 2.5vw 2vh;
    text-align: center;
}

.card-header{
    width: 100%;
    margin-bottom: 1.5rem;
}

.card-title{
    padding: 0.3rem 0.9rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white-dark);
    background: var(--blue-light);
    font-size: 1.1rem;
    border-radius: 6px;
}

.skill{
    margin-bottom: 0.5rem;
    list-style: none;
    font-weight: 500;
    font-size: 0.9rem;
}

/* =========================MEDIA QUERY======================= */
@media screen and (min-width: 1101px){
    .cards{
        align-items: baseline;
    }
}

@media screen and (max-width: 1100px){
    .cards{
        align-items: stretch;
    }

    .card{
        width: 35%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px){
    .card{
        width: 100%;
    }
}