@import '../../../../globals/variables';

.profile__intro {
  &__particles {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
}

.intro__container {
  width: 85%;
  height: 20%;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;

  &__hello,
  &__name {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;

    & h2,
    & span {
      font-size: 5.5rem;
    }
  }

  &__hello {
    background-color: darken($base-blue, 5%);
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 300ms;
    opacity: 0;
    & h2 {
      color: white;
      margin: 0;
    }
  }

  &__name {
    & span {
      color: $base-blue;
      font-weight: 700;
      opacity: 0;
    }
  }
}

.fadeInUp {
  animation-delay: 1s;
  animation-name: fadeInUpward;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fadeInDown {
  color: $base-red !important;
  animation-delay: 1.5s;
  animation-name: fadeInDownward;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
  }
}

@keyframes fadeInUpward {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0px);
  }
}

@keyframes fadeInDownward {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
    opacity: 0.95;
  }
}
