@import '../../../../globals/variables';

.profile__intro {
  border-bottom: 5px dashed $base-blue;
  &__particles {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    @media screen and (max-width: $tablet) {
      padding-bottom: 4rem;
    }
  }
}

.intro__container {
  width: 85%;
  margin: 10vh auto 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

  &__hello,
  &__name {
    flex: auto;
    width: 50%;

    & h2,
    & span {
      font-size: 4.5rem;

      @media screen and (max-width: $mobile-small) {
        font-size: 2rem;
      }
    }

    @media screen and (max-width: $mobile) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__hello {
    background: linear-gradient(
      60deg,
      darken($base-blue, 5%) 0%,
      lighten($base-blue, 10%) 60%
    );
    padding: 20px 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 300ms;
    opacity: 0;
    & h2 {
      color: white;
      margin: 0;
    }

    @media screen and (max-width: $mobile-small) {
      padding: 0.7rem 0;
    }
  }

  &__name {
    & span {
      color: $base-blue;
      font-weight: 700;
      opacity: 0;
    }
  }
}

.fadeInUp {
  animation-delay: 1s;
  animation-name: fadeInUpward;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fadeInDown {
  color: $base-red !important;
  animation-delay: 1.5s;
  animation-name: fadeInDownward;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
  }
}

@keyframes fadeInUpward {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0px);
  }
}

@keyframes fadeInDownward {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
    opacity: 0.95;
  }
}
