.achievements-section{
    background-color: #f5f5f5;
    text-align: center;
}

.achievements-section h3{
    margin-top: 25px;
    font-size: 18px;
    padding: 0 30px;
    font-weight: bold;
    color: #00a7e2;
}

.achievements-section h4{
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0;
}

.achievements-section p{
    font-size: 15px;
    margin: 0;
    padding: 0 30px;
    text-align: justify;
}

@media (max-width: 500px){
    .achievements-section h3, .achievements-section p{
        padding: 0 5px; 
    }
}