.education{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.education h2, h3, h4, p{
    padding: 0;
    margin: 0;
}

.degree, .certifications{
    box-sizing: border-box;
    padding: 0 2vw;
}

.degree{
    text-align: center;
}

.degree h3{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
    color: var(--blue-light)
}

.degree h4{
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--red-dark);
}

.degree p{
    font-size: 0.9rem;
    font-weight: 500;
}

.certifications h2{
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 900;
    color: var(--blue-light);
}

.certificate{
    display: flex;
    flex-wrap: wrap;
}


.certificate h3{
    font-size: 1.3rem;
}

.certificate h4{
    margin-bottom: 2rem;
    font-size: 0.9rem;
    color: var(--red-dark);
}

/* =========================MEDIA QUERY======================= */
@media screen and (min-width: 1001px){
    .degree{
        width: 60%;
    }

    .certifications{
        width: 40%;
    }
} 

@media screen and (max-width: 1000px){
    .certifications, .degree{
        width: 100%;
    }

    .certifications{
        text-align: center;
    }

    .degree{
        margin-bottom: 50px;
    }

    .certificate{
        justify-content: center;
    }

    .certificate h3, h4{
        margin-right: 20px;
    }
}

@media screen and (max-width: 650px){
    .degree h3{
        font-size: 1.5rem;
    }
    
    .degree h4, .certificate h3{
        font-size: 1rem;
    }

    .certifications h2{
        font-size: 1.3rem;
    }
    
    .certificate h4{
        font-size: 0.8rem;
    }
}