.navbar{
    background: transparent;
    transition: 0.3s;
}

.navbar-colored{
    background: #011826;
    opacity: 0.97;
    transition: 0.3s;
}

.nav-content{
    color: white !important;
    font-weight: 600;
    font-size: 17px;
    padding-left: 12px;
    border-left: 3px solid #0378A6;
    margin: 15px 0 0 20px;
}

.nav-content:hover{
    color: #88DFF2 !important;
    cursor: pointer;
}