.navbar{
    background: transparent;
    transition: 0.3s;
}

.navbar-colored{
    background: #011826;
    opacity: 0.95;
    transition: 0.3s;
}

.nav-content{
    color: white !important;
    font-weight: 600;
    font-size: 17px;
    padding-left: 12px;
    border-left: 3px solid #04C4D9;
    margin: 15px 0 0 20px;
}

.nav-content:hover{
    color: #04D9D9 !important;
    cursor: pointer;
}

@media (max-width:400px){
    .navbar{
        background: #011826;
        opacity: 0.95;
    }
}