.navbar{
    position: fixed;
    background-color: var(--blue-dark);
    transition: var(--transition-speed) ease;
    z-index: 2;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-item:nth-child(4){
    margin-top: auto;
}

.nav-item:nth-last-child(1){
    margin-bottom: 1.5rem;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 4rem;
    text-decoration: none;
    color: var(--gray-dark);
    filter: grayscale(90%) opacity(0.5);
    transition: var(--transition-speed);
}

.nav-item:nth-last-child(-n+3) .nav-link{
    height: 3rem;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--blue-light);
    color: var(--gray-light);
    font-weight: 700;
}

.link-text{
    display: none;
    margin-left: 2em;
}

.nav-link img{
    margin-left: 1.5rem;
}

.nav-item:nth-last-child(-n+3) .nav-link i{
    font-size: 1rem;
    margin-left: 2rem;
}

.nav-item:nth-last-child(-n+3) .nav-link{
    font-size: 0.75rem;
}

.fa{
    color: var(--light-blue);
    transition: var(--transition-speed);
}

.logo{
    margin: 0.6rem 0 1rem;
    height: 5.5rem;
    width: 4rem;
    transform: rotate(-90deg);
    text-align: center;
    transition: var(--transition-speed);
}

.logo a{
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--gray-light);
    line-height: 4.7rem;
    text-transform: uppercase;
}

/* =========================MEDIA QUERY======================= */
/* Desktop Screen */
@media screen and (min-width: 1281px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 20rem;
    }
    
    .navbar:hover .link-text{
        display: inline;
        transition: var(--transition-speed);
    }

    .navbar:hover .logo{
        width: 5rem;
        height: 4rem;
        transform: rotate(0deg);
        text-align: center;
        border-bottom: 0.3rem solid var(--yellow);
    }
}

/* Tablet Screen */
@media screen and (max-width: 1280px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }

    .logo, .nav-item:nth-last-child(-n+3){
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .link-text{
        display: inline;
    }

    main{
        margin: 0;
    }

    .nav-link{
        justify-content: center;
    }
}


/* Small Screen */
@media screen and (max-width: 400px){
    .nav-link img{
        display: none;
    }
}

/* =========================MEDIA HEIGHT======================= */
