.introduction{
    color: white;
    text-align: right;
}

.introduction p{
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.introduction h1{
    padding-bottom: 7px;
    font-weight: bold;
    margin-top: 15px;
    border-bottom: 3px solid #04C4D9;
}

.list-group-item{
    background-color: transparent !important;
    padding: 0 !important;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
}

.list-group-item span, .list-group-item a{
    color: #04D9D9;
    font-size: 15px;
}

.list-group-item a{
    padding: 10px;
}

.list-group-item span:hover{
    text-decoration: none;
    color: #021926 !important;
    cursor: pointer;
}

@media (max-width: 739.98px){
    .introduction{
        margin-right: 20px;
        width: 210px;
    }
    
    .introduction p{
        font-size: 18px;
    }
    
    .introduction h1{
        font-size: 20px;
    }
}


@media (min-width: 740px) and (max-width: 1000px){
    .introduction{
        width: inherit;
        margin-right: 40px;
    }

    .introduction p{
        font-size: 20px;
    }

    .introduction h1{
        font-size: 25px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1000px) {
    .introduction{
        margin-right: 200px;
        text-align: left;
    }

    .introduction p{
        font-size: 25px;
    }

    .introduction h1{
        font-size: 30px;
    }
}