.introduction{
    color: white;
    text-align: right;
    padding-right: 20px;
    width: 230px;
}

.introduction p{
    color: rgb(0, 255, 242);
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.introduction h1{
    display: inline-block;
    padding-bottom: 7px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    border-bottom: 3px solid #04C4D9;
}

.header-list a , .header-list span{
    color: white;
    font-size: 18px;
    padding-top: 10px;
}

.header-list a:hover{
    text-decoration: none;
    color: #04D9D9 !important;
}