.skills-section{
    text-align: center;
    padding: 50px 0;
    background-color: rgb(245, 245, 245);
}

.skill-title{
    font-weight: bold;
    color: #00a7e2;
}

.skill-list{
    font-weight: 600;
    font-size: 15px;
}