@import '../../../globals/variables';

.navbar {
  position: fixed;
  background: linear-gradient(
    164deg,
    darken($base-blue, 5%) 0%,
    lighten($base-blue, 2%) 70%
  );
  transition: $transition-speed ease;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__item {
      width: 100%;

      &:nth-child(4) {
        margin-top: auto;
      }

      &:nth-last-child(1) {
        margin-bottom: 1.5rem;
      }

      &:nth-last-child(-n + 3) {
        .navbar__nav__link {
          height: 3rem;
          font-size: 0.75rem;

          & i {
            font-size: 1rem;
            margin-left: 2rem;
          }
        }
      }
    }

    &__link {
      display: flex;
      align-items: center;
      height: 4rem;
      text-decoration: none;
      color: darken($base-gray, 15%);
      opacity: 0.5;
      transition: $transition-speed ease;

      & span {
        display: none;
        margin-left: 2em;
      }

      & img {
        margin-left: 1.5rem;
        color: lighten($base-blue, 60%);
        transition: $transition-speed;
      }

      &:hover {
        opacity: 1;
        background: lighten($base-blue, 5%);
        color: lighten($base-gray, 8%);
        font-weight: 700;
      }
    }

    &__logo {
      margin: 0.6rem 0 1rem;
      height: 5.5rem;
      width: 4rem;
      transform: rotate(-90deg);
      text-align: center;
      transition: $transition-speed;

      & a {
        font-size: 1.5rem;
        font-weight: 900;
        text-decoration: none;
        color: lighten($base-gray, 10%);
        line-height: 5rem;
        text-transform: uppercase;
      }
    }
  }

  @media screen and (min-width: $tablet+1) {
    top: 0;
    width: 80px;
    height: 100vh;

    &:hover {
      width: 20rem;

      .navbar__nav {
        &__logo {
          width: 5rem;
          height: 4rem;
          transform: rotate(0deg);
          text-align: center;
          border-bottom: 0.3rem solid yellow;
        }
      }

      .navbar__nav__link span {
        display: inline;
        transition: $transition-speed;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    bottom: 0;
    width: 100vw;
    height: 60px;

    &__nav {
      flex-direction: row;

      &__link {
        justify-content: center;

        & span {
          display: inline;
        }
      }

      &__item {
        &:nth-last-child(-n + 3) {
          display: none;
        }
      }

      &__logo {
        display: none;
      }
    }
  }

  @media screen and (max-width: $mobile-small+1) {
    &__nav__link img {
      display: none;
    }
  }
}
